
  
.back{
  background-image: url("J4o.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   
    
}

.image{
  max-width: 100%;
  max-height: 100%;
}

